<head>
<style>
.sample{
margin-left:px;
}
.sample1{
margin-left:px;
}
.sample2{
margin-right:px;
}
.sample3{
margin-right:px;
}
.sample4{
margin-right:px;
}
</style>
</head>

<nav class='navbar navbar-dark bg-dark' style="font-size: 16px;font-family:times;">
<a class='navbar-brand' href="{% url 'home' %}">Home</a>
<a class='navbar-brand sample' href="http://127.0.0.1:8000/todos">All Courses</a>
<a class='navbar-brand sample1' href="http://127.0.0.1:8000/todos/add">Add Course</a>
<a class='navbar-brand sample2' href="http://127.0.0.1:8000/authentication/signup">Sign Up</a>
<a class='navbar-brand sample3' href="http://127.0.0.1:8000/authentication/login">Login</a>
<a class='navbar-brand sample4' href="http://127.0.0.1:8000/todos/about">About</a>
</nav>

